*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}


:root{

--verde:#1fa64a;
--verde-claro:#eaffef;
--rojo:#ff3030;

}



html{

scroll-behavior:smooth;

}



body{

background:linear-gradient(
180deg,
#ffffff,
#eaffef
);

color:#222;

overflow-x:hidden;

}



/* =================
 LOADER
================= */


#loader{

position:fixed;

width:100%;
height:100%;

background:white;

display:flex;

align-items:center;

justify-content:center;

z-index:9999;

}



.loader-contenido{

text-align:center;

}



.esponja{

font-size:100px;

animation:lavar 2s infinite;

}



@keyframes lavar{


0%{

transform:translateX(-70px) rotate(-20deg);

}


50%{

transform:translateX(70px) rotate(20deg);

}


100%{

transform:translateX(-70px) rotate(-20deg);

}

}



.loader-contenido h2{

color:var(--verde);

font-size:35px;

}



.loader-contenido span::after{

content:"";

animation:puntos 1s infinite;

}



@keyframes puntos{


0%{content:"";}

33%{content:".";}


66%{content:"..";}


100%{content:"...";}


}





/* =================
 SIN INTERNET
================= */


#offline{

display:none;

position:fixed;

background:white;

width:100%;
height:100%;

z-index:9998;

align-items:center;

justify-content:center;

text-align:center;

}



.escoba{

font-size:100px;

animation:barrer 2s infinite alternate;

}



@keyframes barrer{

from{

transform:translateX(-100px);

}

to{

transform:translateX(100px);

}

}




#offline h2{

color:var(--verde);

font-size:35px;

}






/* =================
 HEADER
================= */


header{

position:fixed;

top:0;

width:100%;

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

background:#ffffffdd;

backdrop-filter:blur(10px);

z-index:1000;

box-shadow:0 5px 20px #0002;

}




.logo{

font-size:30px;

font-weight:bold;

color:var(--verde);

}



nav{

display:flex;

gap:25px;

}



nav a{

text-decoration:none;

color:#333;

font-weight:bold;

}



nav a:hover{

color:var(--verde);

}







/* =================
 INICIO
================= */


.inicio{

min-height:100vh;

padding:150px 8% 50px;

display:flex;

justify-content:space-between;

align-items:center;

}



.inicio h1{

font-size:55px;

color:var(--verde);

max-width:700px;

}



.inicio p{

font-size:22px;

margin-top:25px;

color:#666;

}



.imagen-inicio{

font-size:130px;

animation:flotar 3s infinite;

}



@keyframes flotar{

50%{

transform:translateY(-25px);

}

}



.boton{

display:inline-block;

margin-top:30px;

padding:18px 40px;

background:var(--verde);

color:white;

text-decoration:none;

border-radius:50px;

font-weight:bold;

transition:.3s;

}



.boton:hover{

transform:scale(1.1);

}






/* =================
 SECCIONES
================= */


.seccion,
.productos,
.calidad{

padding:100px 8%;

}



h2{

text-align:center;

font-size:45px;

color:var(--verde);

margin-bottom:50px;

}





/* =================
 TARJETAS
================= */


.tarjetas{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}



.tarjeta{

background:white;

padding:35px;

border-radius:25px;

text-align:center;

font-size:30px;

box-shadow:0 15px 35px #0002;

transition:.4s;

}



.tarjeta:hover{

transform:translateY(-15px);

}



.tarjeta h3{

font-size:25px;

color:var(--verde);

margin:15px;

}



.tarjeta p{

font-size:17px;

color:#666;

}







/* =================
 PRODUCTOS
================= */


.productos{

background:#f2fff6;

}



.categorias{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:15px;

margin-bottom:50px;

}



.categorias button{

padding:15px 25px;

border:none;

border-radius:50px;

background:white;

cursor:pointer;

font-weight:bold;

transition:.3s;

box-shadow:0 10px 20px #0002;

}



.categorias button:hover{

background:var(--verde);

color:white;

}





.productos-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(270px,1fr));

gap:35px;

}





.producto{

background:white;

border-radius:25px;

overflow:hidden;

padding-bottom:25px;

box-shadow:0 15px 35px #0002;

transition:.4s;

}



.producto:hover{

transform:translateY(-12px);

}




.producto img{

width:100%;

height:260px;

object-fit:contain;

background:var(--verde-claro);

}



.producto h3{

color:var(--verde);

text-align:center;

font-size:24px;

padding:20px;

}



.producto p{

text-align:center;

color:#666;

padding:0 20px 20px;

}





.whatsapp{

display:block;

width:80%;

margin:auto;

background:var(--rojo);

color:white;

padding:15px;

border-radius:50px;

text-align:center;

text-decoration:none;

font-weight:bold;

}




.whatsapp:hover{

background:#b90000;

}



